.distanceIcon{
  margin-left: 10px;
}
.iconWH{
  width: 20px;
  height: 20px;
}
.alignContacts{
  padding: 5px 0  5px 0;
}
.lastChildDistanceBottom div :nth-last-child(1) {
  padding-bottom: 10px;
  
 }