.cardWH{
  width: 370px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 768px) { 
    
  
  .fontExp{
      font-family: var(--font-primary) !important;
      font-weight: 700 !important;
      padding-bottom: 8px;
  }
  
}

@media (min-width: 769px) { 
  

}