.MuiCardMedia-media {
  height: 100% ;
}
@media (max-width: 768px) { 
    
  
  .fontExp{
      font-family: var(--font-primary) !important;
      font-size: 16pt !important;
      font-weight: 700 !important;
      padding-bottom: 8px;
  }
  
}

@media (min-width: 769px) { 
  

}