  .topDistancePhoto{
    padding-top: 85px;
  }
  .cape{
    background-image: url(../img/image12.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% ;
  }