  .topDistancePhoto{
    padding-top: 170px;
  }
  .cape{
    background-image: url(../img/cape.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% ;
  }