
@media (max-width: 768px) { 
  .distance{
    padding-bottom: 25px;
  }
  .descriptionDistance{
    padding: 100px 0 25px 0;
  }
  .developingWH{
    width: 295px !important;
    height: 230px !important;
  }
  .maintenanceWH{
    width: 260px !important;
    height: 250px !important;
  }
  .networkWH{
    width: 270px !important;
    height: 230px !important;
  }
}
@media (min-width: 769px) { 
    

}

