.MuiDrawer-paperAnchorRight {
  background: var(--color-sidebar-gray)!important;
}
.MuiTypography-body1 {
  color: var(--color-green);
  

}
.MuiListItemText-primary{
  font-size: var(--fontsize-mobile)!important;
  font-family: var(--font-secundary)!important;
  font-weight: 500!important;
}
.MuiListItemIcon-root {
  color:var(--color-green)!important;

}
@media (max-width: 768px) { 
  
}
@media (min-width: 769px) { 
    

}
