
.cardStyle div img{
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.titleDistance{
  padding: 5px 0 5px 0;
}
div.cardStyle{
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 600px) {

  .cardStyle{
    width: 300px;
    height: 335px;
    background-color: var(--color-primary-gray) ;
    text-align: center;
    border-radius: 5%;
  }

  .muiWH{
    width: 270px !important;
   height: 210px !important;
  }

  .figmaWH{
    width: 260px!important;
   height: 260px !important;
  }
  
.reactWH{
  width: 225px !important;
  height: 260px !important;
}

.muiPadTop{
   padding-top: 25px;
}
.jsWH{
    width: 240px!important;
    height: 266px !important;

}
.cssWH{
  width: 230px!important;
  height: 264px !important;

}
.htmlWH{
  width: 240px!important;
  height: 265px !important;

}
.nodeWH{
  width: 230px !important;
  height: 260px !important;
}

}


@media (min-width: 601px) and (max-width:960px)  {
  .cardStyle{
    width: 250px;
    height: 315px;
    background-color: var(--color-primary-gray) ;
    text-align: center;
    border-radius: 5%;
  }
  .muiWH{
    width: 220px !important;
    height: 180px !important;
  }
  .figmaWH{
    width: 240px!important;
   height: 240px !important;
  }
  
.reactWH{
  width: 225px !important;
  height: 260px !important;
}

.muiPadTop{
   padding-top: 25px;
}
.jsWH{
    width: 240px!important;
    height: 266px !important;

}
.cssWH{
  width: 230px!important;
  height: 264px !important;

}
.htmlWH{
  width: 240px!important;
  height: 265px !important;

}
.nodeWH{
  width: 230px !important;
  height: 260px !important;
}

}
@media (min-width: 961px) and (max-width:1280px)  {
  .cardStyle{
    width: 210px;
    height: 280px;
    background-color: var(--color-primary-gray);
    text-align: center;
    border-radius: 5%;
    margin-bottom: 20px;
  }
  .muiWH{
    padding-top: 40px;
    height: 150px !important;
  }
  .figmaWH{
    padding-top: 10px;
    height: 200px!important;
  }
  .reactWH{
    height: 210px !important;
  }
  .jsWH{
    height: 210px !important;
  
  }
  .cssWH{
    height: 210px !important;
  
  }
  .htmlWH{
    width: 190px!important;
  
  }
  .nodeWH{
    padding-top:20px;
    height: 200px !important;
  } 

}
@media (min-width:1281px) and ( max-width:1629px){
  .cardStyle{
    width: 240px;
    height: 300px;
    background-color: var(--color-primary-gray) ;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 20px;
    align-content: center;
  }
  .muiWH{
    padding-top: 40px;
    height: 170px !important;
  }
  .figmaWH{
    height: 230px!important;
  }
  .reactWH{
    height: 230px !important;
  }
  .jsWH{
      height: 230px !important;
  
  }
  .cssWH{
    height: 230px !important;
  
  }
  .htmlWH{
    width: 212px!important;
  
  }
  .nodeWH{
    padding-top:10px;
    height: 220px !important;
  } 

}
@media (min-width:1630px) and ( max-width:1980px){
  .cardStyle{
    width: 270px;
    height: 300px;
    background-color: var(--color-primary-gray) ;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 20px;
    align-content: center;
  }
  .muiWH{
    padding-top: 30px;
    height: 190px !important;
  }
  .figmaWH{
    height: 230px!important;
  }
  .reactWH{
    height: 230px !important;
  }
  .jsWH{
      height: 230px !important;
  
  }
  .cssWH{
    height: 230px !important;
  
  }
  .htmlWH{
    width: 212px!important;
  
  }
  .nodeWH{
    padding-top:10px;
    height: 220px !important;
  } 

}

@media (min-width: 1981px) {
  .cardStyle{
    width: 350px;
    height: 350px;
    background-color: var(--color-primary-gray) ;
    text-align: center;
    border-radius: 5%;
    margin-bottom: 20px;
    align-content: center;
  }
  .muiWH{
    padding-top: 20px;
    height: 240px !important;
  }
  .figmaWH{
    height: 270px!important;
  }
  .reactWH{
    height: 270px !important;
  }
  .jsWH{
      height: 270px !important;
  
  }
  .cssWH{
    height: 270px !important;
  
  }
  .htmlWH{
    width: 250px!important;
  
  }
  .nodeWH{
    padding-top:20px;
    height: 250px !important;
  } 

}
