.cardStyle box img{
  margin-right: auto ;
  margin-left: auto; 
  margin-top: auto;
  margin-bottom: auto;
}

.paddingTopImgQualificacao{
  padding-top: 25px;
}


@media (min-width: 0px)and(max-width: 600px) {
  .certSize{
    width: 300px!important;;
  }
  .swiper2None{
    display: none;
  }
}


@media (min-width: 600px) and (max-width:960px)  {
  .certSize{
    height: 390px!important;
  }
  .swiper1None{
    display: none;
  }
}
@media (min-width: 961px) and (max-width:1280px)  {
  .certSize{
    width: 400px!important;
  }
  .swiper1None{
    display: none;
  }
}
@media (min-width: 1280px) {
  .certSize{
    width: 400px!important;
  }
  .swiper1None{
    display: none;
  }
}
