:root{
    --color-white:#ffff;
    --color-green:#62E093;
    --color-primary-gray:#2c2c2c;
    --color-sidebar-gray:#3c3c3c;
    --color-footer-gray1:#1c1c1c;
    --font-primary: 'roboto-mono', monospace;
    --font-secundary: 'roboto', monospace;
    --fontsize-mobile-topic: 20pt;
    --fontsize-mobile-normal: 15pt;
}

*{
    margin: 0;
    padding: 0;    
}

@media (max-width: 768px) { 
    
    .open{
        transform: translateX(300px);
    }

}
@media (min-width: 769px) { 
    

}