:root{
    --color-white:#ffff;
    --color-green:#62E093;
    --color-primary-gray:#212121;
    --color-sidebar-gray:#3c3c3c;
    --color-footer-gray:#141414;
    --font-primary: 'roboto-mono', monospace;
    --font-secundary: 'roboto', monospace;
    --size-avatar:200px;
    --swiper-theme-color: #62E093 !important;
}
html{
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;    
}

.bgWhite{
  background-color: var(--color-white);
}
.bgGreen{
    background-color: var(--color-green)!important;
}
.bgGrayPrimary{
    background-color: var(--color-primary-gray)!important;
}
.bgGraySecundary{
    background-color: var(--color-sidebar-gray)!important;
}
.bgGrayTertiary{
    background-color: var(--color-footer-gray)!important;
}

.decorationNone{
  text-decoration: none;
}

.colorGreen{
    color: var(--color-green)!important;
}
.colorGrayPrimary{
    color: var(--color-primary-gray)!important;
}
.colorGraySecundary{
    color: var(--color-sidebar-gray)!important;
}
.colorGrayTertiary{
    color: var(--color-footer-gray)!important;
}

.jcCenter{
    justify-content: center !important;
}
.textCenter{
    text-align: center;
}

.jcText{
  text-align: justify;
}
.distance{
  padding-bottom: 30px;
}
.borderNone{
    border-radius: 0 !important;
    border: none;
    box-shadow: none !important;
}

.widthMax{
  width: 100%;
}

.paragraph{
  text-indent: 20px;
}

.swiperContainerWH{
  height: 300px;
}

.fontTopic{
  font-family: var(--font-primary) !important;
  font-weight: 700 !important;
}

.fontText{
font-family: var(--font-secundary) !important;
font-weight: 700 !important;
}
.avatarWH{
  width: var(--size-avatar)!important ;
  height: var(--size-avatar)!important ;
}
@media (max-width: 768px) { 
    
    .open{
        transform: translateX(300px);
    }
    
}

@media (min-width: 769px) { 
    

}